

.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

/*Add_to_cart*/
.add-to-cart{
    color: rgb(255, 255, 255);
    border-color: rgb(107, 178, 7);
    border-top-color: rgb(107, 178, 7);
    border-right-color: rgb(107, 178, 7);
    border-bottom-color: rgb(107, 178, 7);
    border-left-color: rgb(107, 178, 7);
    border-radius: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    background-color: rgb(107, 178, 7)
    }
