

.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

/*Add_to_cart*/
.add-to-cart{
    color: rgb(255, 255, 255);
    border-color: rgb(107, 178, 7);
    border-top-color: rgb(107, 178, 7);
    border-right-color: rgb(107, 178, 7);
    border-bottom-color: rgb(107, 178, 7);
    border-left-color: rgb(107, 178, 7);
    border-radius: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    background-color: rgb(107, 178, 7)
    }

/*Header*/
.navbar {
    padding-left: 45px !important;
    padding-right: 45px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.navbar-nav{

    color: #86af49 !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    letter-spacing: 0px !important;
    text-transform: uppercase !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
    color: #171717 !important;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #86af49 !important;
}

.logout {
    color: #ffffff;
    border-color: #6bb207;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    background-color: #6bb207;

    font-size: 13px;
    line-height: 50px;
    height: 50px;
    font-weight: 600;
    padding-left: 37px;
    padding-right: 37px;

    letter-spacing: 0.2px;

    margin-right: 4px;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }
}

nav.navbar-light {
    border-bottom: solid;
    border-bottom-width: 2px;
}

.shopping-cart {
    color: #ffffff;
    border-color: #6bb207;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    background-color: #6bb207;

    font-size: 13px;
    line-height: 50px;
    height: 50px;
    font-weight: 600;
    padding-left: 37px;
    padding-right: 37px;

    letter-spacing: 0.2px;
}

.logo .navbar-brand{
    height: 112px;
}

.logo .navbar-brand img{
    height: 100%;
}


/*end of Header*/