
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.ym

# Flask files

flask-aws/*

# Alembic
#
#alembic.ini
#alembic/*

#*pyc
/*.pyc
application/*.pyc

# DS_Store
.DS_Store
