<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PlantOnDemand</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/landing-page.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-light static-top" style="
    background-color: #fff">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="img/logo-POD.jpg" style="max-height: 50px">
        </a>
        <a class="btn btn-primary" href="#">Entrar</a>
      </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <!-- <h1 class="mb-5">Para que el agricultor se ocupe de lo que de verdad le importa, TRABAJAR EL CAMPO!</h1> -->
            <h1 class="mb-5">Disfrutar comiendo sano es posible</h1> 
            <h3 class ="mb-5"> Come productos agroecológicos y apoya a los productores locales</h3>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0 mx-auto">
                  <input type="email" class="form-control form-control-lg" placeholder="Pon aquí tu email">
                  
                </div>
              </div>
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0 mx-auto">
                  <input type="password" class="form-control form-control-lg" id="inputPassword" placeholder="Escribe una contraseña">
                </div>
              </div>
              <br>
              <div class="form-row">
                <div class="col-12 col-md-3 mx-auto">
                  <button type="submit" class="btn btn-block btn-lg btn-primary">Regístrate!</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>

    <!-- Testimonials -->
    <section class="testimonials text-center" style="background-color: white;">
      <div class="container">
        <h2 class="mb-5">¡Devuelve lo natural a tu mesa!</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-icon">
              <!--<i class="icon-chart m-auto text-primary"></i>-->
              <img src="img/vegetables.png" class="img-fluid mx-auto d-block" style ="max-width: 50%" alt="...">
              <h5 style="margin-top: 20px;">Personaliza tu pedido</h5>
              <p class="font-weight-light mb-0">Selecciona entre una gran variedad de productos agroecológicos</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-icon">
              <img src="img/truck.png" class="img-fluid mx-auto d-block" style ="max-width: 50%"alt="...">
              <!-- <i class="icon-graph m-auto text-primary"></i> -->
              <h5 style="margin-top: 20px;">Concreta la entrega</h5>
              <p class="font-weight-light mb-0">Decide dónde recibir tu pedido dónde mejor te convenga</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-icon">
              <img src="img/cauliflower.png" class="img-fluid mx-auto d-block" style ="max-width: 50%" alt="...">
              <h5 style="margin-top: 20px;">Disfruta lo natural</h5>
              <p class="font-weight-light mb-0">Recibe productos frescos directos del agricultor</p>
            </div>
          </div>
        </div>

        <!-- Call 2 action -->
        <hr>
        <div class="form-row">
          <div class="col-12 col-md-3 mx-auto">

            <button type="submit" class="btn btn-block btn-lg btn-primary">Pide tus productos!</button>
          </div>
        </div>
      </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters bg-light">

          <div class="col-lg-5 order-lg-2 text-white showcase-img" style="background-image: url('img/zanahorias-moradas.jpg');"></div>
          <div class="col-lg-7 order-lg-1 my-auto showcase-text">
            <h2>Producto agroecológico</h2>
            <h5> (No confundir con producto ecológico) </h5>
            <p class="lead mb-0"> A día de hoy el término ecológico se encuentra más que prostituido. Las grandes multinacionales agroalimentarias han aprovechado el boom de lo ecológico como una nueva forma de lucrarse. Nos cuelan frutas y verduras “ecológicas” procedentes de grandes producciones industriales, debido a los bajos requisitos de certificación. </p>
          </div>
        </div>
      </div>
    </section>
   
    <!-- VIDEO -->
    <section class="testimonials text-center" style="background-color: white;">
      <div class="container">
        <h2>Los héroes de la tierra</h2>
         <h5> Nuestros agricultores agroecológicos </h5>
        <p class="lead mb-0"> Desde Bustarviejo en la Sierra Norte de Madrid, te presentamos a Carlos y Cristian, nuestros productores agroecológicos de confianza. </p>
        <br>
        <div class="row">
          <div class="col-lg-8 mx-auto">  
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sD7OoOBfKmY"></iframe></iframe>
              </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters bg-light">

          <div class="col-lg-5 order-lg-2 text-white showcase-img" style="background-image: url('img/zanahorias-moradas.jpg');"></div>
          <div class="col-lg-7 order-lg-1 my-auto showcase-text">
            <h2>Nuestro equipo</h2>
            <h5> Los matías </h5>
            <p class="lead mb-0"> Lorem ipsum.............. </p>
          </div>
        </div>
      </div>
    </section>          


    <!-- Footer -->
    <footer class="footer" style="background-color: #000">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <!--<ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul> -->
            <p class="text-muted small mb-4 mb-lg-0">&copy; Plant on Demand 2017. All Rights Reserved.</p>
          </div>
          <!--
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-twitter fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
          -->
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
