<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<h1>Lista de Agricultores</h1>


<!--MESSAGE FLASHING EXAMPLE -->
{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}


<a href = "{{url_for('newListAgricultores')}}">Create new item</a>

{% for i in agriList %}

<div>
<a href = "{{url_for('agricultorMenu',agricultor_id=i.id)}}">{{i.name}}</a>
<a href = "{{url_for('editAgricultor',agricultor_id=i.id)}}">Edit</a>
<a href = "{{url_for('deleteAgricultor',agricultor_id=i.id)}}">Delete</a>

</br>
</div>
{% endfor %}
</body>
</html>



