<html>

<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

<body>
<h1>Lista de Agricultores</h1>


<a href="{{url_for('newAgricultor')}}" > <h3> Add a new Agricultor</h3> </a>


{% for i in agriList %}

<a href = "{{url_for('agricultorInfo', agricultor_id = i.id)}}"> <p>{{i.name}}</p></a>
<a href = "{{url_for('editAgricultor',agricultor_id=i.id)}}">Edit</a>
<a href = "{{url_for('deleteAgricultor',agricultor_id=i.id)}}">Delete</a>

<!-- <p><a href = "#">Edit </a></p>

<p> <a href = "#">Delete </a> </p> -->

{% endfor %}



</div>

</body>
</html>



