{% extends "layout.html" %}

{% block head %}
{{ super() }}


{% endblock head %}
{% block content %}

	<div class="container">
		<br>
	    <div class="row">
	        <div class="panel panel-primary filterable">
	            <div class="panel-heading" style="margin-bottom: 20px">
	            	<h4 style="position: relative;
    					float: left;">Gracias {{current_user.username}}, tu pedido ha sido confirmado</h4>
	                <div class="pull-right">
	                </div>
	            </div>
	            <table class="table postorder">
	                <thead>
	                    <tr class="filters postorder" style="font-weight: bold">
	                        <th><input type="text" class="form-control postorder-head" placeholder="Producto" disabled></th>
	                        <th><input type="text" class="form-control postorder-head" placeholder="Cantidad" disabled></th>
	                        <th><input type="text" class="form-control postorder-head" placeholder="Precio Unidad" disabled></th>
	                        <th><input type="text" class="form-control postorder-head" placeholder="Total" disabled></th>

	                    </tr>
	                </thead>
	                <tbody>

		                			{% for i in order %}
		                			<tr class="postorder">
			                		
									<td>
										{{i.product_name}}
									</td>
									<td>
										{{i.quantity}}{{i.product_units}}
									</td>
		                        	<td>{{i.product_price}}€/{{i.product_units}}</td>
		                        	<td>{{(i.quantity|float)*(i.product_price|float)}}€</td>
		                    		
		                    	</tr>
		                    		{% endfor %}

	                    	<tr>
	                    		<td>TOTAL</td>
	                    		<td></td>
	                    		<td></td>
	                    		<td style="color: red; font-weight: bold">{{ total }}€</td>
	                    	</tr>
	                    	<tr>
	                    		<td>La dirección de recogida será <strong>"{{pickup}}"</strong>
	                    	</tr>
	                </tbody>
	            </table>
	           	<div>
	                
	            </div>
	        </div>
	    </div>
	</div>

{% endblock content %}