<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<h1>Edit agricultor info</h1>

<form action = "{{url_for('editInfo',agricultor_id=agricultor_id)}}" method = 'POST'>

	<p>New name:</p>
		<input type = 'text' size = '30' name = 'name' placeholder = '{{item.name}}'>

	<p>Email:</p>
		<input type ='text' size='30' name='email' placeholder = '{{item.email}}'>

	<p>Teléfono:</p>
		<input type ='text' size='30' name='phone' placeholder = '{{item.phone}}'>

	<p>Localización:</p>
		<input type ='text' size='30' name='location' placeholder = '{{item.location}}'>

	<p>Web:</p>
		<input type ='text' size='30' name='website' placeholder = '{{item.website}}'>	

	<p>Productos:</p>
		<input type ='text' size='30' name='productos' placeholder = '{{item.productos}}'>

	<p>Pedido mínimo:</p>
		<input type ='text' size='30' name='pedido_minimo' placeholder = '{{item.pedido_minimo}}'>

	<p>Días de reparto:</p>
		<input type ='text' size='30' name='diasreparto' placeholder = '{{item.diasreparto}}'>

	<p>Logística:</p>
		<input type ='text' size='30' name='logistica' placeholder = '{{item.logistica}}'>

	<p>Encargado:</p>
		<input type ='text' size='30' name='encargado' placeholder = '{{item.encargado}}'>

	<p>Links:</p>
		<input type ='text' size='30' name='links' placeholder = '{{item.links}}'>



<input type = 'submit' value = 'Edit'>
</form>

<a href= "{{url_for('agricultorMenu', agricultor_id= agricultor_id)}}">Cancel</a>

</body>

</html>