<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<h1>Edit menu item</h1>

<form action = "{{url_for('editMenuItem',agricultor_id=agricultor_id, product_id=item.id)}}" method = 'POST'>

	<p>New name:</p>
		<input type = 'text' size = '30' name = 'name' placeholder = '{{item.name}}'>

	<p>Description:</p>
		<input type ='text' size='30' name='description' placeholder = '{{item.description}}'>

	<p>Price:</p>
		<input type ='text' size='30' name='price' placeholder = '{{item.price}}'>

	<select name="preciounidad"> 
	{% if item.preciounidad == '€/kg' %}
		 <option value="€/kg" selected="selected">€/kg</option>
	{%else%}
		<option value="€/kg">€/kg</option>
    {% endif %}

    {% if item.preciounidad == '€/unidad' %}
		 <option value="€/unidad" selected="selected">€/unidad</option>
	{%else%}
		<option value="€/unidad">€/unidad</option>
    {% endif %}

    {% if item.preciounidad == '€/L' %}
		 <option value="€/L" selected="selected">€/L</option>
	{%else%}
		<option value="€/L">€/L</option>
    {% endif %}
	</select>


<input type = 'submit' value = 'Edit'>
</form>

<a href= "{{url_for('agricultorMenu', agricultor_id= agricultor_id)}}">Cancel</a>

</body>

</html>