{% extends "layout.html" %}

{% block head %}
{{ super() }}

{% endblock head %}
{% block content %}


	<div class="container">
		<br>
	    <div class="row">
	        <div class="col-lg-6 col-sm-12 filterable">
	    		<h4>Hola {{current_user.username}}, Tu pedido para la semana {{week}} fue:</h4>
	            <table class="table">
	                <thead>
	                    <tr class="filters postorder" style="font-weight: bold">
	                        <th><input type="text" class="form-control postorder-head" placeholder="Producto" disabled></th>
	                        <th><input type="text" class="form-control postorder-head" placeholder="Cantidad" disabled></th>
	                        <th><input type="text" class="form-control postorder-head" placeholder="Precio Unidad" disabled></th>
	                        <th><input type="text" class="form-control postorder-head" placeholder="Total" disabled></th>
	                    </tr>
	                </thead>
	                <tbody>
	                		<tr>
		                		{% for i in order %}
								<td>{{i.product_name}}</td>
	                        	<td>{{i.quantity}}{{i.product_units}}</td>
	                        	<td>{{i.product_price}}€/{{i.product_units}}</td>
	                        	<td>{{(i.quantity|float)*(i.product_price|float)}}€</td>
	                    		
	                    	</tr>
	                    		{% endfor %}

	                </tbody>
	            </table>
	            <table class="table">
	                <thead>
	                    <tr class="filters">
	                        <th><input type="text" class="form-control" placeholder="Ver otros pedidos" disabled></th>
	                    </tr>
	                </thead>
	                <tbody>
	                		<tr>
		                		{% for i in weeks %}
								<td><a href = "{{url_for('historicalOrders', agricultor_id = agricultor.id, week = i.week)}}">Semana {{i.week}}</a></td>
	                    	</tr>
	                    		{% endfor %}

	                </tbody>
	            </table>
	            <div>
	                <a href= "{{url_for('home')}}">Volver a la homepage</a>
	            </div>
	        </div>
	        <div class="col-lg-6 col-sm-12">
	    		<h4>Histórico de pedidos</h4>
	    		<br>
		        <div class="card mx-auto" style="width: 48%;">
					<ul class="list-group">
						{% for i in weeks %}
					  	<li class="list-group-item"><a href = "{{url_for('historicalOrders', agricultor_id = agricultor.id, week = i.week)}}">Semana {{i.week}}</a></li>
					  	{% endfor %}
					</ul>
				</div>
      		</div>
	    </div>
	</div>

{% endblock content %}