<html>

<head> 
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	<link rel=stylesheet type=text/css href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='filter_products.js') }}"></script>
</head>
<body>
	<div class="container">
	    <h3>{{agricultor.name}}</h3>
	    <hr>
	    <div class="row">
	        <div class="panel panel-primary filterable">
	            <div class="panel-heading">
	                <h3 class="panel-title">Products</h3>
	                <div class="pull-right">
	                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
	                </div>
	            </div>
	            <table class="table">
	                <thead>
	                    <tr class="filters">
	                        <th><input type="text" class="form-control" placeholder="Id" disabled></th>
	                        <th><input type="text" class="form-control" placeholder="Producto" disabled></th>
	                        <th><input type="text" class="form-control" placeholder="Precio/unidad" disabled></th>
	                        <th><input type="text" class="form-control" placeholder="Descripción" disabled></th>
	                    </tr>
	                </thead>
	                <tbody>
	                    {% for i in items %}
	                    <tr>
	                        <td>{{i.id}}</td>
	                        <td>{{i.name}}</td>
	                        <td>{{i.price}}{{i.preciounidad}}</td>
	                        <td>{{i.description}}</td>
	                        <td><a href="{{url_for('editMenuItem',agricultor_id = agricultor.id, product_id=i.id)}}">Edit</a></td>
	                        <td><a href="{{url_for('deleteMenuItem', agricultor_id = agricultor.id, product_id=i.id)}}">Delete</a></td>
	                    </tr>
	                    {% endfor %}
	                    <tr>
	                        <td><a href = '{{url_for('newProduct', agricultor_id = agricultor.id) }}'>Add new product</a></td>
	                    </tr>
	                </tbody>
	            </table>
	            <div>
	                <a href= "{{url_for('listaAgricultores')}}">Volver a Agricultores</a>
	            </div>
	        </div>
	    </div>
	</div>
</body>
</html>