<<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<h1>{{agricultor.name}}</h1>

<!--MESSAGE FLASHING EXAMPLE -->
<!-- {% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %} -->



<!-- Añadir nuevo producto -->
<a href = '{{url_for('newProduct', agricultor_id = agricultor.id) }}'>Add new product</a>

<!-- Mostrar productos existentes -->
	{% for i in items %}
    <div class = 'nameAndPrice'>
		<span class = 'name'><p>{{i.name}}</p></span>

		<span class = 'price'><p>{{i.price}}{{i.preciounidad}}</p> </span>
	</div>

	
	
	<div class = 'description'>
		<p>{{i.description}}</p>
	</div>
	
	
	<div class = "editdeletepane">

	
	<a href='{{url_for('editMenuItem',agricultor_id = agricultor.id, product_id=i.id)}}' >Edit</a>
	<a href='{{url_for('deleteMenuItem', agricultor_id = agricultor.id, product_id=i.id)}}' >Delete</a>
	</div>




		{% endfor %}


</div></br>

	<a href= "{{url_for('listaAgricultores')}}">Volver a Agricultores</a>
</div>
	</body>




</html>
