<html>
{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
{{ super() }}

	<!-- <link rel=stylesheet type=text/css href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"> -->
{% endblock head %}
{% block content %}

	<div class="container">
		<br>
		<section class=nav-order>
			<div class="row">
				<div class="col-sm">
					<button type="button" class="btn btn-outline-danger" onclick="window.location.href='{{url_for('agricultorMenuOrder',agricultor_id = agricultor.id)}}'">Volver al listado</button>
				</div>
				<div class="col-sm">
					<button type="button" class="btn btn-outline-warning update-order-2" onclick="document.getElementsByClassName('update-order')[0].click()">Actualizar la cesta</button>
				</div>
				<div class="col-sm">
					<button type="button" class="btn btn-outline-success" onclick="window.location.href='{{url_for('orderConfirm', agricultor_id=agricultor.id)}}'">Confirmar y tramitar pedido</button>
				</div>
			</div>
		</section>
		<br>
	    <div class="row">
	        <div class="panel panel-primary filterable">
	            <div class="panel-heading" style="margin-bottom: 20px">
	            	<h4 style="position: relative;
    					float: left;">Hola {{current_user.username}}, Actualiza o confirma los productos de tu ecoCesta</h4>
	                <a href="{{url_for('agricultorMenuOrder', agricultor_id = agricultor.id)}}"><h4 style= "position: relative; float: right">Añadir más productos al carrito</h4></a>
	                <div class="pull-right">
	                </div>
	            </div>
	            <table class="table postorder">
	                <thead>
	                	<tr>
							<td><b>Eliminar</b></td>
							<td><b>Producto</b></td>
							<td><b>Precio</b></td>
							<td><b>¿Un poquito más?</b></td>
							<td><b>Total</b></td>
						</tr>
	                </thead>
	                <tbody>
							<form action = "{{url_for('postOrder',agricultor_id=agricultor.id)}}" method = 'POST' >
								<div class="add-to-cart" style="float: left; height: 57px;">
									<button class='btn btn-lg update-order'style='background-color:transparent; color: white;' type = 'submit' value = 'Actualiza tu compra' style="position: relative; float: right; background: none; border: none; color: #333;     margin-right: 4px;">
										<img src="{{url_for('static', filename='vectorpaint (8).svg')}}" alt="Farm icons" style="height: 38px; position:relative; float: left; margin-right: 15px; height: 38px;">
										<a style="display: inline-block; float:right; padding-top: 5px;     text-transform: uppercase; font-family: 'Poppins', sans-serif;    line-height: 30px !important; font-size: 12px !important; padding-right: 37px !important;">Actualiza tu compra</a>
									</button>
								</div>
		                			{% for i in order %}
		                			<tr class="postorder">
			                		
									<td><a href="{{url_for('deleteItem', agricultor_id = agricultor.id, pedido_id = i.id)}}"><img src="{{url_for('static', filename='trash_bin.svg')}}" style="height: 23px;"></a></td>
									<td>
										{{i.product_name}}
									</td>
		                        	<td>{{i.product_price}}€/{{i.product_units}}</td>
		                        	<td>
    									<input type = 'text' size = '30' name = '{{i.product_name}}' placeholder = '{{i.quantity}}{{i.product_units}}'>
    								</td>
		                        	<td>{{(i.quantity|float)*(i.product_price|float)}}€</td>
		                    		
		                    	</tr>
		                    		{% endfor %}
	                    	</form>
	                    	<tr>
	                    		<td><b>Los gastos de envío</b></td>
	                    		<td></td>
	                    		<td></td>
	                    		<td></td>
	                    		<td style="color: red; font-weight: bold">€€€€</td>
	                    		<td></td>
	                    	<tr>
	                    		<td><b>TOTAL</b></td>
	                    		<td></td>
	                    		<td></td>
	                    		<td></td>
	                    		<td></td>
	                    		<td style="color: green; font-weight: bold">{{ total }}€</td>

	                </tbody>
	            </table>
	            <table class="table">
	                <thead>
	                    <tr class="filters">
	                        <th><input type="text" class="form-control" placeholder="Ver mis pedidos de otras semanas" disabled></th>
	                        <th>
	                        	<div class="add-to-cart" style="float: right; height: 57px;">
									<button type="button" onclick="window.location.href='{{url_for('orderConfirm', agricultor_id=agricultor.id)}}'" class='btn btn-lg 'style='background-color:transparent; color: white;'value = 'Actualiza tu compra' style="position: relative; float: right; background: none; border: none; color: #333;     margin-right: 4px;">
										<img src="{{url_for('static', filename='vectorpaint (8).svg')}}" alt="Farm icons" style="height: 38px; position:relative; float: left; margin-right: 15px; height: 38px;">
										<a style="display: inline-block; float:right; padding-top: 5px;     text-transform: uppercase; font-family: 'Poppins', sans-serif;    line-height: 30px !important; font-size: 12px !important; padding-right: 37px !important;">Confirma tu compra</a>
									</button>
								</div>

	                        </th>
	                    </tr>
	                </thead>
	                <tbody>
	                		<tr>
		                		{% for i in weeks %}
								<td><a href = "{{url_for('historicalOrders', agricultor_id = agricultor.id, week = i.week)}}">Semana {{i.week}}</a></td>
	                    	</tr>
	                    		{% endfor %}

	                </tbody>
	            </table>
	           	<div>
	                
	            </div>
	        </div>
	    </div>
		<section class=nav-order>
			<div class="row">
				<div class="col-sm">
					<button type="button" class="btn btn-outline-danger" onclick="window.location.href='{{url_for('agricultorMenuOrder',agricultor_id = agricultor.id)}}'">Volver al listado</button>
				</div>
				<div class="col-sm">
					<button type="button" class="btn btn-outline-warning update-order-2" onclick="document.getElementsByClassName('update-order')[0].click()">Actualizar la cesta</button>
				</div>
				<div class="col-sm">
					<button type="button" class="btn btn-outline-success" onclick="window.location.href='{{url_for('orderConfirm', agricultor_id=agricultor.id)}}'">Confirmar y tramitar pedido</button>
				</div>
			</div>
		</section>
	</div>

{% endblock content %}