<html>
{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
{{ super() }}

	<!-- <link rel=stylesheet type=text/css href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"> -->
{% endblock head %}
{% block content %}

	<div class="container">
	    <h3>{{agricultor.name}}</h3>
	    <h4>Hola {{current_user.username}}, Tu pedido para esta semana es:</h4>
	    <div class="row">
	        <div class="panel panel-primary filterable">
	            <div class="panel-heading" style="margin-bottom: 20px">
	                <h3 class="panel-title" style="position: relative; float: left">Confirmar pedido realizado</h3>
	                <a href="{{url_for('agricultorMenuOrder', agricultor_id = agricultor.id)}}"><h4 style= "position: relative; float: right">Añadir más productos al carrito</h4></a>
	                <div class="pull-right">
	                </div>
	            </div>
	            <table class="table">
	                <thead>
	                    <tr class="filters">
	                    	<th><input type="text" class="form-control" placeholder="Eliminar" disabled></th>
	                        <th><input type="text" class="form-control" placeholder="Producto" disabled></th>
	                        <th><input type="text" class="form-control" placeholder="Cantidad" disabled></th>
	                        <th><input type="text" class="form-control" placeholder="Precio Unidad" disabled></th>
	                        <th><input type="text" class="form-control" placeholder="Total" disabled></th>

	                    </tr>
	                </thead>
	                <tbody>
							<form action = "{{url_for('postOrder',agricultor_id=agricultor.id)}}" method = 'POST'>
								<div class="add-to-cart" style="border: solid;float: right;">
									<input type = 'submit' value = 'Añadir al carrito' style="position: relative; float: right; background: none; border: none; top: 24px; color: white;     margin-right: 4px;">
									<img src="{{url_for('static', filename='vectorpaint (8).svg')}}" alt="Farm icons" style="height: 38px; position:relative; float: right; margin-right: 15px; height: 72px;">
								</div>
		                		<tr>
			                		{% for i in order %}
									<td><a href="{{url_for('deleteItem', agricultor_id = agricultor.id, pedido_id = i.id)}}">Eliminar</a></td>
									<td>
										{{i.product_name}}
									</td>
		                        	<td>
    									<input type = 'text' size = '30' name = '{{i.product_name}}' placeholder = '{{i.quantity}}{{i.product_units}}'>
    								</td>
		                        	<td>{{i.product_price}}€/{{i.product_units}}</td>
		                        	<td>{{(i.quantity|float)*(i.product_price|float)}}€</td>
		                    		
		                    	</tr>
		                    		{% endfor %}
	                    	</form>
	                    	<tr>
	                    		<td>TOTAL</td>
	                    		<td></td>
	                    		<td></td>
	                    		<td style="color: red; font-weight: bold">{{ total }}€</td>

	                </tbody>
	            </table>
	            <table class="table">
	                <thead>
	                    <tr class="filters">
	                        <th><input type="text" class="form-control" placeholder="Ver mis pedidos de otras semanas" disabled></th>
	                    </tr>
	                </thead>
	                <tbody>
	                		<tr>
		                		{% for i in weeks %}
								<td><a href = "{{url_for('historicalOrders', agricultor_id = agricultor.id, week = i.week)}}">Semana {{i.week}}</a></td>
	                    	</tr>
	                    		{% endfor %}

	                </tbody>
	            </table>
	           	<div>
	                
	            </div>
	        </div>
	    </div>
	</div>

{% endblock content %}