<html>
{% extends "layout_login.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}

{{ super() }}

{% endblock head %}

{% block content %}
<div class="container">
  <div class="row row-padding-top justify-content-md-center big-margin">
    <div class = "col-lg-10 col-md-10 col-sm-12 col-xs-12 align-self-center">
      <h4>Confirma tu email</h4>
      <p>Te hemos enviado un enlace a {{email}}. Por favor, haz click en el enlace para restablecer tu contraseña.</p>
      <button class="btn btn-lg btn-success big-margin" type="button" width="30%" onclick="window.location='/login';">Ir a inicio de sesión</button>
    </div>
  </div>

</div> <!-- /container -->
{% endblock %}