<html>
{% extends "layout_login.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}

{{ super() }}

{% endblock head %}

{% block content %}
<div class="container">
  <div class="row row-padding-top justify-content-md-center">
    <div class = "col-lg-5 col-md-6 col-sm-12 col-xs-12 align-self-center">
      <form class="form-signin" method="POST" action="/signup">
        <h2 class="form-signin-heading title top-margin">Regístrate</h2>
        <p class="text-justify forms-text"> Crea tu usuario para poder utilizar la nueva herramienta de pedidos de Plant on Demand.</p>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.password) }}
        {% if user_exist %}
         <p class="text-danger">El email introducido ya existe, por favor introduce otro distinto</p>
        {% endif %}
        {% if user_name_exist %}
         <p class="text-danger">El nombre de usuario introducido ya existe, por favor introduce otro distinto</p>
        {% endif %}
        <button class="btn btn-lg btn-success btn-block top-margin" type="submit">Crear cuenta</button>
        <p> ¿Ya tienes cuenta? <a class ="inline-block" href= "/login" style=color:#46BC64>Iniciar sesión</a></p>
      </form>
    </div>
  </div>

</div> <!-- /container -->
{% endblock %}
