{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}

{% endblock head %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h3>Editar tu información de usuario</h3>
      <form class="form-signin" method="POST" action="{{url_for('user')}}">
        <h4 class="form-signin-heading">Cambia tu nombre de usuario</h4>
        {{ formuser.hidden_tag() }}
        {{ wtf.form_field(formuser.username) }}
        <button class="btn btn-success" type="submit">Confirmar cambios</button>
      </form>
      <hr>
      <form class="form-signin" method="POST" action="{{url_for('user')}}">
        <h4 class="form-signin-heading">Cambia tu email</h4>
        {{ formemail.hidden_tag() }}
        {{ wtf.form_field(formemail.email) }}
        <button class="btn btn-success" type="submit">Confirmar cambios</button>
      </form>
      <hr>
      <form class="form-signin" method="POST" action="{{url_for('user')}}">
        <h4 class="form-signin-heading">Cambia tu password</h4>
        {{ formpass.hidden_tag() }}
        {{ wtf.form_field(formpass.password) }}
        <button class="btn btn-success" type="submit">Confirmar cambios</button>
      </form>
    </div>
  </div>
</div>


<!-- <form action = "{{url_for('user')}}" method = 'POST'>

	<p>Nuevo nombre se usuario:</p>
		<input type = 'text' size = '30' name = 'name' placeholder = '{{current_user.username}}'>

	<p>Nuevo email:</p>
		<input type ='text' size='30' name='email' placeholder = '{{current_user.email}}'>

	<p>Nueva password:</p>
		<input type ='text' size='30' name='password' placeholder = 'password'>

<input type = 'submit' value = 'Confirmar cambios'>
</form> -->


{% endblock content %}
